:root {
  --background: hsl(240deg, 5.79%, 76.27%);
  --foreground: hsl(240deg, 4.76%, 8.24%);

  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);

  --primary: hsl(82.77deg, 97.16%, 72.35%);
  --primary-foreground: hsl(0, 0%, 98%);

  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(225deg, 6.67%, 11.76%);

  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(240, 5.9%, 10%);
  --radius: 0.5rem;

  --redis-gray: rgb(183, 171, 152);
  --opacity-color: 203, 203, 219;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 10%, 5%);
    --foreground: hsl(240deg, 5.79%, 76.27%);

    --card: hsl(240, 10%, 3.9%);
    --card-foreground: hsl(0, 0%, 98%);

    --primary: hsl(190.29deg, 51.22%, 59.8%);
    --primary-foreground: hsl(240, 5.9%, 10%);

    --secondary: hsl(225deg, 6.67%, 11.76%);
    --secondary-foreground: hsl(0, 0%, 98%);

    --border: hsla(37, 18%, 66%, 0.5);
    --input: hsl(240, 3.7%, 15.9%);
    --ring: hsl(240, 4.9%, 83.9%);
  }

  
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 9999px;
}

/* Extra classes */
.blob {
  background: conic-gradient(from 2.35rad, #c76000, rgba(7, 29, 228, 0.5));
}

.text-reveal {
  display: inline;
  background: linear-gradient(
    to right,
    rgba(var(--opacity-color), 1) 0%,
    rgba(var(--opacity-color), 1) 50%,
    rgba(var(--opacity-color), 0.2) 50%,
    rgba(var(--opacity-color), 0.2) 100%
  );
  background-clip: text;
  background-size: 200% 100%;
  background-position: right bottom;
  color: transparent;
  background-repeat: no-repeat;
}
